<%= render "navbar_admin" %>
<% if @periods %>
  <%= render template: "kath/periods/index" %>
<% else %>
  <h2> Il n'y aucunes période de créées.</h2>
<% end %>

<%= link_to "Tous les contrats", kath_contracts_path, class:"btn btn-success" %>
