<div class="container mt-5" id="availabilities">
  <hr class="w-50 mt-5">
  <h2 class="section-header text-dark">DISPONIBILITÉS</h2>
  <div class="row">
    <% @periods.each do |period| %>
      <% @availabilities = Availability.where(period_id: period.id) %> <%# Bad practice, but it's the only solution I've found %>
      <div class="col-md-6">
        <div class="table-responsive">
          <h3 class="text-center"><%= period.title %></h3>
          <table class="table table-bordered table-hover text-center">
            <thead>
              <tr>
                <th>Date d'arrivée</th>
                <th>Prix / Semaine</th>
                <th>Disponible ? </th>
              </tr>
            </thead>
            <% if @availabilities %>
              <%= render "availabilities" %>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr class="w-50 mt-5">
