<div class="container mt-5" id="reservation">
  <h1 class="mb-5 text-center">Disponibilité</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive">
        <h3 class="text-center">Eté 2021</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Date d'arrivée</th>
              <th>Prix / Semaine</th>
              <th>Disponible ? </th>  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td>100000€<Issue</span></td>
              <td><span class="btn btn-success">Oui</span></td>
            </tr>  
          </tbody>   
        </table>
      </div>
    </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <h3 class="text-center">Hiver 21/22</h3>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Date d'arrivée</th>
                <th>Prix / Semaine</th>
                <th>Disponible ? </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr>
              <tr>
                <td>1</td>
                <td>100000€<Issue</span></td>
                <td><span class="btn btn-success">Oui</span></td>
              </tr> 
            </tbody>      
          </table>
        </div>
      </div>
    </div>
  </div>
</div>