<div class="container" id="contact">
  <h1 class="mb-5 text-center">Contact</h1>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 20rem; background-color: #940c0c; color: antiquewhite;">
        <div class="card-header">Adresse</div>
        <div class="card-body">
          <h4 class="card-title">Les Lanchettes</h4>
          <p class="card-text">Côte Arbet</p>
          <p class="card-text">73350 CHAMPAGNY en VANOISE</p>
          <p class="card-text">Savoie, FRANCE</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 20rem; background-color: #940c0c; color: antiquewhite;">
        <div class="card-header">Contact</div>
          <div class="card-body">
          <h4 class="card-title">+33(0)6.81.55.91.35</h4>
          <p class="card-text">leslanchettes@wanadoo.fr</p>
        </div>
      </div>
    </div>
  </div>
</div>