<div class="text-center m-3">
  <a class="float-right" id="top" href=""><i class="fas fa-2x fa-arrow-circle-up" href=""></i></a>
  <small class="text-muted">Copyright &copy RUDY Arthur 2021. All Rights Reserved</small>
</div>
