<section id="jumbo">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="call-to-action">
      <div class="mb-5">
        <h1 class="title title-jumbo">CHAMPAGNY EN VANOISE</h1>
        <h2 class="title title-jumbo">CHALET LES LANCHETTES</h2>
      </div>
      <div>
        <a class="btn btn-lg p-3 mr-5" id="btn-reservation" href="#availabilities">Réserver</a>
        <a class="btn btn-lg p-3" id="btn-call" href="tel:+33699239961" title="Appelez-moi">+33(0)6.81.55.91.35</a>
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "home/jardin.jpg", class:"w-100" %>
      </div>

      <div class="carousel-item">
        <%= image_tag "home/jumbo.jpg", class:"w-100" %>
      </div>

      <div class="carousel-item">
        <%= image_tag "home/glière.jpg", class:"w-100" %>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>

</section>
