<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pt-5" >
        <h1 class="mt-5">Châlet Les Lanchettes</h1>
        <h4 class="mt-3">Champagny en Vanoise</h4>
          <div class="btn">
            <a href="#reservation" class="btn btn-primary mt-3" role="button" aria-pressed="true" style="background-color:  rgb(123,8,22);;">Les disponibilités</a>
            <a href="#contact" class="btn btn-secondary mt-3" role="button" aria-pressed="true">Contact</a>
        </div>
      </div>
    </div>
  </div>
</section>