<section id="jumbo">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="call-to-action">
      <div class="title-jumbo">
        <h1>Chalet Les Lanchettes</h1>
        <hr class="w-25 hr-jumbo">
        <h2>Champagny en Vanoise</h2>
      </div>
      <div class="btn-jumbo mt-5">
        <a class="btn btn-lg mr-5" id="btn-reservation" href="#availabilities">RESERVER</a>
        <a class="btn btn-lg" id="btn-call" href="tel:+33699239961" title="Appelez-moi">+33(0)6.81.55.91.35</a>
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "home/facade-2.jpg", class:"w-100" %>
      </div>

      <div class="carousel-item">
        <%= image_tag "home/jumbo.jpg", class:"w-100" %>
      </div>

      <div class="carousel-item">
        <%= image_tag "home/glière.jpg", class:"w-100" %>
      </div>
    </div>
  </div>

</section>
