<div id="map-container-google-1" class="z-depth-1-half map-container mt-5" style="height: 500px; width: 100%;">
  <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1CgynSUeg-rzZYN-oXY0ntR-dl4ImMZPb" width="640" height="480"></iframe>
</div>