<nav class="navbar navbar-expand-lg bg-red">
  <a class="brand mx-2" href="">Les Lanchettes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-align-justify text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-5 mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#welcome-section">Découvrir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#availabilities">Disponibilités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
    <span class="navbar-text text-white">+33(0)6.81.55.91.35</span>
  </div>
</nav>
