<section id="welcome-section" class="bg-green">
  <h1 class="section-header">BIENVENUE</h1>
  <div class="container mt-4 pb-3">
    <p class="text-justify welcome-text">Découvrez cette location de vacances à la montagne située dans le magnifique village de Champagny en Vanoise à 1250 m 
    d'altitude en Savoie (France). Ce logement classé "meublé de tourisme 3 <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>" 
    est un 2 pièces de 38m² très confortablement équipé pour 4 personnes.</p>

    <p class="text-justify welcome-text">En hiver, profitez de l'un des plus grands domaines skiables du monde avec Paradiski et de l'espace nordique de Champagny le Haut. 
    En été, partez à la découverte des sentiers dans le Parc National de la Vanoise pour contempler ses magnifiques paysages, sa faune sauvage et son incroyable flore.</p>

    <div class="container">
      <div class="row mt-4">
        <div class="col-md-4 p-3">
          <div class="container text-center">
            <a href="https://www.gites-de-france.com/fr/auvergne-rhone-alpes/savoie/les-lanchettes-73g71229"><%= image_tag "https://www.gites-de-france.com/themes/custom/g2f/build/img/gites-de-france.png", id:"g2f-logo"%></a>
            <a href="https://www.gites-de-france.com/fr/auvergne-rhone-alpes/savoie/les-lanchettes-73g71229"><%= image_tag "https://www.gites-de-france.com/themes/custom/g2f/build/img/site-title.png", id:"g2f-title" %></a>
          </div>
        </div>
        <div class="col-md-4 text-center p-3">
          <a href="https://www.la-plagne.com/champagny-en-vanoise"><%= image_tag "home/logo_champagny.png", id:"logo-champ" %></a>
        </div>
        <div class="col-md-4 text-center p-3">
          <a href="http://www.vanoise-parcnational.fr/fr"><%= image_tag "http://www.vanoise-parcnational.fr/sites/vanoise-parcnational.fr/files/logo_pnv_0.jpg", id:"pnv-logo" %></a>
        </div>
      </div>
    </div>
  </div>
</section>
