html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.bg-green {
  background-color: #579181;
  color: #F7F7F7;
}

.text-white {
  color: #F7F7F7;
}

.title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Carousel */
@media screen and (min-width: 767px) {
  .carousel-inner {
  margin-top: -90px;
  }
}

.carousel-item {
  filter: brightness(50%);
}

.call-to-action{
  position: absolute;
  bottom: 25%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  align-items: center;
  text-align: center;
  z-index: 99;
  color: lightgrey;
}

.title-jumbo {
  color: #f7f7f7;
}

.title-jumbo h1{
  font-family: 'parisienne', cursive;
  font-size: 4.5rem;
  
}

.title-jumbo h2{
  font-size: 2.5rem;
  font-weight: normal;
}

.hr-jumbo {
  background-color: #DE6947 !important;
}


@media (max-width: 650px) {
  .title-jumbo {
    display: none;
  }
}

#btn-reservation {
  font-size: 1.2rem;
  background-color: #DE6947;
  color: #F7F7F7;
  padding: 1%;
}

#btn-reservation:hover {
  background-color: #823D2A;
  
}

#btn-call {
  border: 2px solid #DE6947;
  color: #F7F7F7;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1%;
}

#btn-call:hover {
  background-color: #DE6947;
}

@media (max-width: 850px) {
  #btn-reservation {
    font-size: 0.6rem !important;
    padding: 2% !important;
  }  
  #btn-call {
    font-size: 0.6rem !important;
    padding: 2% !important;
  }
}

/* Navbar */
.navbar {
  border-bottom: 1px solid #F7F7F7;
}
.navbar-brand {
  text-decoration: none !important;
  color: #F7F7F7;
  margin-left: 4em;
  font-family: 'Parisienne', cursive;
  font-size: 2.4rem !important;
  letter-spacing: 0.09em;
}

@media (max-width: 370px) {
  .navbar-brand{
    font-size: 30px !important;
  }
}

.navbar-brand:hover{
  color: #F7F7F7;
}

.navbar-nav {
  margin-right: 1em;
}

.navbar .navbar-nav .nav-link {
  color: #F7F7F7;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.navbar-nav span {
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-item {
  position: relative;
}

.nav-slash {
  display: flex;
  align-items: center;
  font-size: 11px;
}

.nav-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #F7F7F7;
  transition: 0.4s;
}

.nav-item:hover:after {
  width: 100%;
}


/* End Navbar */
/* Welcome section */

#welcome-section {
  width: 100%;
}

.welcome-text {
  font-size: 18px;
}

#g2f-logo {
  height: 125px;
  width: 125px;
}

#g2f-title {
  width: 150px;
  height: auto;
}

#pnv-logo {
  height: 125px;
  width: auto;
}

#logo-champ {
  height: 135px;
  width: auto;
}

/* End welcome section */
/* Presentation section */

.appartment-card{
  transition: 200ms;

}

.appartment-card:hover{
  transform: scale(1.03);
  box-shadow: 0 0 5px black;
}

/* Icons equipments */
.icon-oven {
  width: 55px;
  height: 65px;
  background-color: #F7F7F7;
}

.icon {
  height: 65px;
  width: auto;
  background-color: #F7F7F7;
}
/* End icons equipments */

/* End presentation section */
/* Availabilities table */

table {
  background-color: #F7F7F7;
  box-shadow: 1px 1px 5px #888888;
  border: 0px !important;
}
table caption {
	padding: .5em 0;
}
thead {
  background-color: #579181;
  color: #F7F7F7;
}

tbody>tr>td {
  border-right: 0px !important;
  border-left:0px !important;
  padding: 0px;
}
thead>tr>th {
  border-right: 0px !important;
  border-left:0px !important;
  padding: 1.5em 1em !important;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

#btn-availabilities:hover {
  cursor: text;

}
/* End availabilities section */

/* Contact form */

.bg-contact {
  background-image: url("https://cdn.pixabay.com/photo/2014/12/15/13/18/fir-trees-569047_1280.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  width: 100%;
  height: 0%;
  overflow: hidden;
  padding-bottom: 200px;
}

#text-muted {
  font-size: 9px;
  color: #F7F7F7;
  line-height: 1;
}

.section-header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 40px 0;
  font-size: 4rem;
  color: #F7F7F7;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  color: #F7F7F7;
  letter-spacing: 1px;
}

#send-button{
  margin-top: 15px;
  height: 34px;
  width: 400px;
  background-color: #DE6947;
  color: #F7F7F7;
  overflow: hidden;
  transition: .3s;
}

#send-button:hover{
  background-color:#823D2A;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: 30px;
  padding-right: 20px;
}

.list-item {
  line-height: 2;
  color: #F7F7F7;
  padding-top: 20px;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #F7F7F7;
}

.place {
  margin-left: 30px;
  
}

.phone {
  margin-left: 30px;
}

.gmail {
  margin-left: 30px;
}

.contact-text a {
  color: #F7F7F7;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Begin Media Queries*/
@media (max-width: 800px) {
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .section-header {
    font-size: 2rem;
  }
  .contact-list {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 569px) {
  
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 310px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
}

@media screen and (max-width: 410px) {
  #send-button {
    width: 70%;
  }
  .gmail {
    font-size: 16px;
  }
}

/* Map */

.map{
  overflow:hidden;
  padding-bottom: 56.25%;
  position:relative;
  height:0;
  }

.map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  
  }

  @media screen and (max-width: 569px) {
    .map{
      height: 600px;
    }
  }

#top {
  color: #579181;
}