.bgimage {
  width:100%;
  height:100vh;
  background-image: url("home/jumbo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: rgb(255,250,254);
}

body {
  background-color:#EEEFEF;
  font-family: roboto, open sans-serif;
  color: rgb(69,69,69);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.washing-machine {
  width: 50px;
  height: 50px;
}

table {
  background-color: #fff;
  box-shadow: 1px 1px 5px #888888;
  border: 0px !important;
}
table caption {
	padding: .5em 0;
}
thead {
  background-color: #940c0c;
  color: antiquewhite;
}

tbody>tr>td {
  border-right: 0px !important;
  border-left:0px !important;
  padding: 0px;
}
thead>tr>th {
  border-right: 0px !important;
  border-left:0px !important;
  padding: 1.5em 1em !important;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}


.map-container{
  overflow:hidden;
  position: relative;
  justify-content: center;
  }


.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  align-items: center;
  }

#btn-availabilities:hover {
  cursor: text;
}

/* Contact form */
#contact {
  width: 100%;
  height: 100vh;
  background-color: #940c0c;
  overflow: hidden;
  /*padding-bottom: 200px;*/
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: antiquewhite;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #000;
  color: antiquewhite;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}


/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: 30px;
  padding-right: 20px;
}

.list-item {
  line-height: 2;
  color: antiquewhite;
  padding-top: 20px;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: antiquewhite;
}

.place {
  margin-left: 30px;
  
}

.phone {
  margin-left: 30px;
}

.gmail {
  margin-left: 30px;
}

.contact-text a {
  color: antiquewhite;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
